    .gif1{
        height: 70vh;
        max-width: 30vw;
    }
    .midtext{
        font-family: geneva;
        
    }
    .menu{
        border: 1px solid rgb(75, 75, 218);
        font-family: 'EB Garamond', serif;
        border-radius: 10px;
        text-decoration: none;
        color: black;
        font-size: 1.2vw;
    }
    .menu:hover{
        background-color: skyblue;
        color: black;
    }