.form1{
    border-top: 10px solid rgb(75, 75, 218);
    border-radius: 8px;
    background-color: rgb(156, 254, 254);
}
.form2{
    border-radius: 8px;
    background-color: rgb(156, 254, 254);
}
.menu{
    border: 1px solid rgb(75, 75, 218);
    font-family: 'EB Garamond', serif;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.menu:hover{
    background-color: skyblue;
    color: black;
}